- content_for :sidebar do
  .list-group
    - @hosts.each do |host|
      = link_to host_url(host), class: "list-group-item" + ((@host.id == host.id) ? " active" : "") do
        = host.name
  %p
    = form_for :new_host, url: hosts_path do |f|
      .input-group
        = f.text_field :name, class: 'form-control', placeholder: 'New Host'
        %span.input-group-btn
          = f.button class: 'btn btn-default' do
            %span.glyphicon.glyphicon-plus
  = paginate @hosts, param_name: 'hosts_page'

%ul.nav.nav-tabs#tabs
  %li{:class => ('active' if params['current_tab'] == 'servers' || params['current_tab'] == nil)}
    %a(href="#servers" data-toggle="tab")
      Servers 
      %span.label.label-info= @host.servers.length
  %li{:class => ('active' if params['current_tab'] == 'contacts')}
    %a(href="#contacts" data-toggle="tab")
      Contacts
      %span.label.label-info= @host.contacts.length
  %li{:class => ('active' if params['current_tab'] == 'notes')}
    %a(href="#notes" data-toggle="tab")
      Notes
      %span.label.label-info= @host.notes.length

.tab-content
  .tab-pane#servers{:class => ('active' if params['current_tab'] == 'servers' || params['current_tab'] == nil)}

    .spacer-v10
    %table.table.table-hover
      %thead
        %tr
          %th(width="30%") Name
          %th(width="20%") Clients
          %th Sites
          %th(width="10%") &nbsp;
      %tbody
        - @host_servers.each do |server|
          %tr
            %td
              = best_in_place server, :name, type: :input
            %td= server.num_clients
            %td= server.num_sites
            %td
              = link_to server_url(server) do
                %span.glyphicon.glyphicon-chevron-right
        %tr
          %td(colspan="3")
            = form_for :new_server, url: host_path(@host), method: :put, class: 'form-inline' do |f|
              .input-group
                = f.text_field :name, class: 'form-control', placeholder: 'New Server'
                %span.input-group-btn
                  = f.button class: 'btn btn-default' do
                    %span.glyphicon.glyphicon-plus
          %td &nbsp;
        %tr
          %td(colspan="4")
            = paginate @host_servers, param_name: 'servers_page'

  .tab-pane#contacts{:class => ('active' if params['current_tab'] == 'contacts')}
    .spacer-v10
    %table.table.table-hover
      %thead
        %tr
          %th(width="30%") Last Name
          %th(width="20%") First Name
          %th Description
          %th(width="10%") &nbsp;
      %tbody
        - @host_contacts.each do |contact|
          %tr
            %td
              = best_in_place contact, :last_name, type: :input
            %td
              = best_in_place contact, :first_name, type: :input
            %td
              = best_in_place contact, :description, type: :input
            %td
              = link_to contact_url(contact) do
                %span.glyphicon.glyphicon-chevron-right
      %tr
        %td(colspan="3")
          = form_for :new_contact, url: host_path(@host), method: :put, class: 'form-inline' do |f|
            .input-group
              = f.text_field :description, class: 'form-control', placeholder: 'New Contact Description'
              %span.input-group-btn
                = f.button class: 'btn btn-default' do
                  %span.glyphicon.glyphicon-plus
        %td &nbsp;
      %tr
        %td(colspan="4")
          = paginate @host_contacts, param_name: 'contacts_page', params: {current_tab: 'contacts'}

  .tab-pane#notes{:class => ('active' if params['current_tab'] == 'notes')}
    .spacer-v10
    %table.table.table-hover
      %thead
        %tr
          %th(width="30%") Created On
          %th Note
          %th(width="10%") &nbsp;
      %tbody
        - @host_notes.each do |note|
          %tr
            %td
              = note.created_at
            %td
              = best_in_place note, :note, type: :textarea
            %td
              = link_to note_url(note) do
                %span.glyphicon.glyphicon-chevron-right
      %tr
        %td(colspan="3")
          = form_for :new_note, url: host_path(@host), method: :put, class: 'form-inline' do |f|
            = f.text_area :note, class: 'form-control', placeholder: 'New Note'
            .spacer-v10
            = f.button class: 'btn btn-default' do
              Add Note
              %span.glyphicon.glyphicon-plus
      %tr
        %td(colspan="3")
          = paginate @host_notes, param_name: 'notes_page', params: {current_tab: 'notes'}