- content_for :sidebar do
  .list-group
    - @hosts.each do |host|
      = link_to host_url(host), class: "list-group-item" + ((@host.id == host.id) ? " active" : "") do
        = host.name
    %a.list-group-item
      %p.text-muted + Add Host

%ul.nav.nav-tabs#tabs
  %li.active
    %a(href="#servers" data-toggle="tab")
      Servers 
      %span.label.label-info= @host.servers.length
  %li
    %a(href="#contacts" data-toggle="tab")
      Contacts
      %span.label.label-info= @host.contacts.length
  %li
    %a(href="#notes" data-toggle="tab")
      Notes
      %span.label.label-info= @host.notes.length

.tab-content
  .tab-pane.active#servers
    - if @host.servers.length > 0 then
      .spacer-v10
      %table.table.table-hover
        %thead
          %tr
            %th(width="30%") Name
            %th(width="20%") Clients
            %th Sites
            %th(width="10%") &nbsp;
        %tbody
          - @host.servers.each do |server|
            %tr
              %td
                = best_in_place server, :name, type: :input
              %td= server.num_clients
              %td= server.num_sites
              %td
                = link_to server_url(server) do
                  %span.glyphicon.glyphicon-chevron-right
    - else
      No servers.
  .tab-pane#contacts
    - if @host.contacts.length > 0 then
      .spacer-v10
      %table.table.table-hover
        %thead
          %tr
            %th(width="30%") Last Name
            %th(width="20%") First Name
            %th Description
            %th(width="10%") &nbsp;
        %tbody
          - @host.contacts.each do |contact|
            %tr
              %td
                = contact.last_name
              %td
                = contact.first_name
              %td
                = contact.description
              %td
                = link_to contact_url(contact) do
                  %span.glyphicon.glyphicon-chevron-right
    - else
      No contacts.
  .tab-pane#notes
    - if @host.notes.length > 0 then
      .spacer-v10
      %table.table.table-hover
        %thead
          %tr
            %th(width="30%") Created On
            %th Note
            %th(width="10%") &nbsp;
        %tbody
          - @host.notes.each do |note|
            %tr
              %td
                = note.created_at
              %td
                = note.note
              %td
                = link_to note_url(note) do
                  %span.glyphicon.glyphicon-chevron-right
    - else
      No notes.