!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "ServerFu"
    %meta(name="description" content="#{ content_for?(:description) ? yield(:description) : "ServerFu" }")
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        = render 'layouts/navigation'

    .container
      .row
        .col-md-3
          .spacer-v10
          = yield :sidebar
        .col-md-9
          .spacer-v10
          = render 'layouts/messages'
          = yield
    #footer
      .container
        %p.text-muted.text-right
          %small ServerFu Version: #{APP_VERSION::STRING}
          - if Rails.env.development?
            = debug params
            %small= session[:view_state]