<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "ServerFu" %></title>
    <meta name="description"
          content="<%= content_for?(:description) ? yield(:description) : "ServerFu" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <%= render 'layouts/navigation' %>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <%= yield :sidebar %>
        </div>
        <div class="col-md-10">
          <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
          <div class="spacer-v10"></div>
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
    </div><!-- /.container -->

  </body>
</html>